{% extends "store/base.html" %}
{% load static %}
{% block title%}{{ post.title }} {% endblock %}
{% block header %}
    {% include 'block/header.html' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <!-- This is column of the intro-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Introduction</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post.h1 }}</li>
                </ol>
            </nav>
            <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
            <hr>
            <p class="lead">
                {{ post.content|safe }}
            </p>
            <hr>
            <p class="lead text-right">Author: <a href="#">{{ post.author }}</a></p>
            <hr>
            <div class="text-right">Published {{ post.created_at }} </div>
            <hr>
            {% include "block/comments.html" %}
        </div>
    </div>
{% endblock %}
{% block pagination %}
    {% include "block/pagination.html" %}
    <br>
{% endblock %}