{% extends "store/base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block header %}
    {% include 'block/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <br>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post.h1 }}</li>
                </ol>
            </nav>
            <br>
            <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
            <hr>
            <p class="lead">
            {{ post.content|safe }}
            </p>
            <div class="d-flex justify-content-end">
                {% for tag in post.tag.all %}
                    <a href="{% url 'tag' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                {% endfor %}
            </div>

            <hr>

            <div class="mr-auto p-2 lead">Author: {{ post.author }}</div>
            <hr>
            <div class="p-2">Published {{ post.created_at }}</div>

            <br>
            <hr>
            <p class="text-center" >Embark on an exciting educational journey and expand your knowledge with us!
            </p>
            <hr>
        <br>
            <div class="container d-flex justify-content-center">
                {% if post.price != 0.00 %}
                    <button class="btn btn-success">Buy for {{ post.price }}$</button>
                {% else %}
                    <button class="btn btn-success">Enroll for free</button>
                {% endif %}
            </div>
            <hr>
            <br>
            {% include 'block/comments.html' %}
            <hr>
        </div>
        {% include "block/aside.html" %}
    </div>
</div>
{% endblock %}



