body {
    background-color: rgba(73, 89, 139, 0.8);
    font-family: Inconsolata;

}

form {

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: wheat;
    padding: 20px 50px 50px 45px;
    border-radius: 10px;
    align-content: center;


}

input {
    background-color: wheat;
    padding: 5px 40px 5px 1px;
    margin: 15px 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.6);
    text-shadow: red;
    font-weight: 700;
    cursor: pointer;
    border: greenyellow;
    justify-content: center;
    color: cadetblue;
}

label {


}


#btn__wrapper {
    display: flex;
    justify-content: center;
    align-content: center;

}



button {
    background-color: wheat;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 700;

}

#form_welcome_title {
    text-align: center;
    text-size-adjust: initial;
    position: initial;
    display: flow;
}

