<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/todo.css">
    <title>Document</title>

</head>

<body>
    <div>
        <form  method="post">

            <h4 id="form_welcome_title">
                Welcome to our website!
                <br>
                We afford more than others
            </h4>

            <label for="Ename" >Email or login </label><br>
            <input type="email" name="Ename" id="Ename" placeholder="Example@service.domain"><br>
            <label for="Pname">Good password - best security </label><br>
            <input type="password" name="Pname" id="Pname" placeholder="Password"><br>

            <div id="btn__wrapper">
                <button>Submit</button>
            </div>

        </form>
    </div>
</body>
</html>